<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661701415546-gs7ocp8bb4097fdoa7sh233qcc4m3t1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661701415546-gs7ocp8bb4097fdoa7sh233qcc4m3t1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCrBNy8lBEWEm9VeGNwc-hQbzFhE2r4kgs</string>
	<key>GCM_SENDER_ID</key>
	<string>661701415546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myfruitmarket-9205a</string>
	<key>STORAGE_BUCKET</key>
	<string>myfruitmarket-9205a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661701415546:ios:3a84be78752fd8ba2fa1c3</string>
	<key>DATABASE_URL</key>
	<string>https://myfruitmarket-9205a-default-rtdb.firebaseio.com</string>
</dict>
</plist>